.toys {
  background-image: url(./kisspng-snowflake-schema-beautiful-winter-vector-snow-flurries-5a9bdfb19d6079.3462964915201647856446-removebg.png);
  background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: right;
  }
