.img {
  max-height: calc(100vh - 8rem);
  max-width: 100%;
}

.garland-wrap {
  position: absolute;
  height: 95%;
  width: calc(100% - 4rem);
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.svg-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}