.toy-item {
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  padding: 1.8rem;
}

.attr {
  display: flex;
  justify-content: center;
  line-height: 2.4rem;
  font-size: 1.8rem;
}

.toy-image-wrap {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.toy-img {
  height: 64px;
}

.toy-name {
  font-size: 2.2rem;
  margin-top: 2rem;
  grid-area: c;
}

.toy-prop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
            "a b"
            "c c"
}
