.toys {
  display: grid;
  grid-template-columns: calc(100vw - 70vw) auto;
  height: calc(100vh - 5.2rem);
}

.toys-filter {
  background-color: #002766;
  color: #eee;
}

.card-border {
  border-bottom: 1px solid #eee;
}
