@font-face {
  font-family: 'MountainsOfChristmas';
  src: url('./assets/fonts/mountains-of-christmas-cyrillic.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'MountainsOfChristmas', sans-serif;
  font-size: 1.6rem;
  color: #002766;
}

.container {
  height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 1720px;
}

.col {
  padding: 0 2rem;
}

.progress {
  position: absolute;
  top: calc(50%  - 59px);
  left: calc(50%  - 77px);
  text-align: center;
  font-size: xx-large;
}

.progress-image {
  svg {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
