.tree-layout {
  display: grid;
  grid-template-columns: 40rem auto 20rem;
  height: calc(100vh - 5.2rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.aside-tree {
  background-color: #002766;
  color: #eee;
  background-color: #002766a1;
}

.head {
  border-bottom: 1px solid #eee;
}

.tree {
  position: relative;
  align-self: center;
  justify-self: center;
}

.aside-toys {
  right: 0;
}

.snowflake-wrap {
  left: 55%;
  transform: translateX(-45%);

  position: absolute;
  height: 80vh;
  width: 50vw;
  pointer-events: none;
  z-index: 5;
}
